<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="novettApp">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Novett Test Angular App</title>
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- SPELLS -->
	<script src="src/js/angular.min.js"></script>
	<script src="test/angular-test.js"></script> 
	<script src="test/services/crud.js"></script> 
	<script src="test/core.js"></script> 
	<script src="src/js/jquery.1.6.4.js"></script> 

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
	<div class="container">

		
		<div class="jumbotron text-center" class="gg">
			<h1> Demo page for Novett API -connect AngularJS/Jquery 
				Directly to MySQL </san></h1>
		</div>

		<p class="text-center" ng-show="loading">
				<span class="fa fa-spinner fa-spin fa-3x"></span>
		</p>
		<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<form>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="getAction()">GET ACTION</button>
					{{ novett_get_output }}
				</form>
			</div>

		</div>

		<div id="form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="postAction()">POST ACTION</button>
					{{ novett_post_output }}
				</form>
			</div>
		</div>

		<div class="text-center text-muted">
			<p>A demo by <a href="http://github.com/omoniyi289">NOVETT</a>.</p>
			<p>Read the <a href="#">tutorial</a>.</p>
		</div>

	</div>


</body>
</html>
